@media screen and (min-width: 768px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {

        flex-direction: row;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    .sections {
        grid-template-columns: 70% 30%;
        gap: 10px;
    }

    .spotlights {
        grid-template-columns: 33% 33% 33%;
        gap: 10px
    }

    main .gallery {
        grid-column: 2 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
    }

    .sidebar {
        grid-row: 1 / 4;
        grid-row: 2;
    }

    .gallery:hover .clips:not(.clips:hover) {
        filter: blur(5px);
        transition: all 0.3s;
    }

    .clips:hover {
        filter: blur(0);
        transition: all 0.3s;
        transform: scale(1.2);
    }



}